{
  "extends": "standard",
  "rules": {
    "no-console": "warn",
    "quotes": "off",
    "semi": "off",
    "comma-dangle": "off",
    "space-before-function-paren": "off"
  },
  "globals": {
    "Phaser": "readonly"
  }
}
