html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*                 _ _   _ _  
__ ___ _ __  _ __ (_) |_| | | 
/ _/ _ \ '  \| '  \| |  _|_  _|
\__\___/_|_|_|_|_|_|_|\__| |_| 
																*/

body {
	color: #000000;
	font-family: 'Anonymous Pro', Helvetica, Arial, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	overflow: hidden;
}

.game {
	width: 771px;
	position: relative;
	margin: 0 auto;
}

.game__case {	
	z-index: 200;
	position: relative;
	width: 771px;
	height: 1110px;
	background-image: url('../images/ui/case.png');
	background-repeat: no-repeat;
	background-position: center top;
}

.start__button {	
	z-index: 300;
	position: absolute;
	left: 249px;
	top: 570px;
	width: 57px;
	opacity: 0.0;
	height: 79px;
	background-image: url('../images/ui/fire_pressed.jpg');
	background-repeat: no-repeat;
	background-position: center top;
}

.left__button {	
	z-index: 300;
	position: absolute;
	left: 120px;
	top: 552px;
	width: 82px;
	opacity: 0.0;
	height: 136px;
	background-image: url('../images/ui/left_pressed.jpg');
	background-repeat: no-repeat;
	background-position: center top;
}
.right__button {	
	z-index: 300;
	position: absolute;
	left: 580px;
	top: 551px;
	width: 76px;
	opacity: 0.0;
	height: 110px;
	background-image: url('../images/ui/right_pressed.jpg');
	background-repeat: no-repeat;
	background-position: center top;
}
.commit__button {	
	z-index: 300;
	position: absolute;
	left: 468px;
	top: 555px;
	width: 74px;
	opacity: 0.0;
	height: 106px;
	background-image: url('../images/ui/commit_pressed.png');
	background-repeat: no-repeat;
	background-position: center top;
}

.game__screen {
	overflow: hidden;
	width: 400px;
	height: 300px;
	position: absolute;
	left: 190px;
	top: 130px;
}

.game__screen::before {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
	z-index: 100;
	position: absolute;
	background: url('../images/ui/texture.png');
	content: "";
	display: block;
}

.loader {
	z-index: 400;
	position: fixed;
	text-transform: uppercase;	
	background-color: #e5e5e5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: 300ms ease-in-out;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.loader::before {
	content: "/";
	display: inline-block;
	margin-bottom: 30px;
	animation: spinner 500ms infinite;
}

.loader p,
.loader li {
	margin-bottom: 15px;
	display: block;
}

.loader strong {
	border-radius: 3px;
	padding: 3px 10px;
	border: 1px solid #000000;
}

.loader ul {
	margin-top: 25px;
}

.loader li::last-of-type {
	margin-bottom: 0px;
}

.loader--is-started {
	opacity: 0;
	visibility: hidden;
}

.loader--is-loaded::before {
	display: none;
}

@keyframes spinner {
	0% {
		content: "/";
	}
	33% {
		content: "-";
	}
	66% {
		content: "\\";
	}
}